AIRFLOW__CORE__LOAD_EXAMPLES=
AIRFLOW__CORE__EXECUTOR=
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=
AIRFLOW__WEBSERVER__BASE_URL=
AIRFLOW__WEBSERVER__SECRET_KEY=
AIRFLOW_UID=
PARQUET_TO_MINIO__DESTINATION__FILESYSTEM__BUCKET_URL=
PARQUET_TO_MINIO__DESTINATION__FILESYSTEM__CREDENTIALS__AWS_ACCESS_KEY_ID=
PARQUET_TO_MINIO__DESTINATION__FILESYSTEM__CREDENTIALS__AWS_SECRET_ACCESS_KEY=
PARQUET_TO_MINIO__DESTINATION__FILESYSTEM__CREDENTIALS__ENDPOINT_URL=